/.cache/
/auto-save-list/
/url/
/elisp-objects/
/elpa/
/elpy/
/emojis/
/eshell/
/lisp/
/var/pcache/
/semanticdb/
/server/
/straight/
/transient/
/.sly-mrepl-history
/recentf
/.purpose-layout
/.emacs.desktop
/.emacs.desktop.lock
/custom.el
/local.el
/places
/projectile-bookmarks.eld
/projectile.cache
