/.cache/
/auto-save-list/
/url/
/elpa/
/elisp-objects/
/emojis/
/eshell/
/lisp/
/var/pcache/
/semanticdb/
/server/
/transient/
/.sly-mrepl-history
/recentf
/.purpose-layout
/.emacs.desktop
/.emacs.desktop.lock
/custom.el
/local.el
